.AddForm {
  &__input {
    direction: rtl;
    font-family: Vazir;
    font-size: 1rem;
    padding: 0.3rem;
    min-width: 250px;
    border: none;
    border-radius: 0.3rem;
    &:focus {
      outline: none;
    }
    @media (max-width: 330px) {
      min-width: 230px;
    }
  }

  &__button {
    font-family: Vazir;
    font-size: 1rem;
    padding: 0.3rem;
    min-width: 60px;
    margin-right: 0.1rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    @media (max-width: 330px) {
      min-width: 50px;
    }
    &:focus {
      outline: none;
    }
  }
}
